body{
  font-family: "Helvetica";
  padding: 50px 20px 0;
  background: #f4f4f7;
  color: #444;
  max-width: 800px;
  margin: auto;
}

h1{
  font-size: 65px;
  line-height: 1.2em;
  border-bottom: #CCC solid 1px;
  padding: 20px 0;
  text-align: center;
}

h3{
  font-weight: 300;
}
